.main {
  background-color: white;
  padding: 11px;
  margin: 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  transition: 0.2s;
}
.main input:last-child {
  padding: 13px;
  margin-left: 10px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 600;
  /* color: rgb(85, 85, 85); */
  transition: 0.2s;
}
.main span {
  cursor: not-allowed;
}